// colors
$_gray: #6C7279;
$_black: #2D3033;
$_coral: #FF4343;
$_red: #B90C0C;
$_white: #fff;
$_blue: #252B49;
$_burgundy: #5C3249;

// font-size
$_64px: 4rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 15rem;
$_18px: 1.125rem;
$_13px: 0.8125rem;


